img{
    width:200px;
    height:180px;
    padding-right:20px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top:50px;
    border-radius: 30%;
    background:rgb(71, 135, 255) !important;
    /* margin-left: 10px;
    padding-top: 30px;*/
    

}


.prod{
    background-color: rgb(128, 240, 221);
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    height:180px;
    width:900px;
    margin-top:50px;
    margin-bottom:50px;
    padding-top: 30px;
    margin-left: 20px;
    border-radius: 25%;
    
}

.container {
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    
    background:rgb(71, 197, 255) !important;
   
      border-radius: 100px;
      margin-top:50px;   
  }
 h3{padding-top:2%;}
/* 
 img{
    width: 200px;
    height: 200px;
    margin-top: 9px;
}
.top{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px 1fr;
    margin-top: 50px;
   

}

.img{
    display: grid;
    grid-gap: 10px;
}
.desc{
 

    width:850px;
    height:199px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-top: 10px;
    margin-bottom: 20px;

    
   
    
} */

/* 
.title{
    color: rgb(95, 4, 241);
}
.id{
    color: royalblue;
}


.title{
    color: rgb(95, 4, 241);
}
.id{
    color: royalblue;
} */